@use 'reset';
@use 'variables/global';
@use 'themes/dark';
@use 'themes/light';

.app {
    font: var(--font-m);

    color: var(--primary-font-color);
    background-color: var(--bg-color);

    min-height: 100vh;
}

a {
    color: var(--secondary-font-color);
}