.nav {
    display: flex;
    align-items: center;

    height: 45px;
    width: 100%;

    padding: 0 10px;

    background-color: var(--secondary-bg-color);
}

.nav-links {
    margin-left: auto;

    a {
        padding: 0 5px;
        &:hover {
            color: var(--primary-font-color)
        }
    }
}